@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    box-sizing: border-box;
  }
}

html {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0;
}

@font-face {
  src: url("../fonts/FoundersGrotesk.woff");
  font-family: FoundersGrotesk;
}

@font-face {
  src: url("../fonts/NeueMontreal.woff");
  font-family: NeueMontreal;
}

@layer utilities {
  .padding-x {
    @apply px-[50px] mdOnly:px-[30px] smOnly:px-[20px] xm:px-[20px];
  }
  .padding-y {
    @apply py-[100px] lgOnly:py-[80px] mdOnly:py-[60px] smOnly:py-[40px] xm:py-[40px];
  }
  .margin {
    @apply mt-[170px] lgOnly:mt-[80px] mdOnly:mt-[60px] smOnly:mt-[40px] xm:mt-[40px] mb-[130px] lgOnly:mb-[80px] mdOnly:mb-[60px] smOnly:mb-[40px] xm:mb-[40px];
  }
  .heading {
    @apply text-[150px] leading-[100px] lgOnly:text-[130px] lgOnly:leading-[98px] mdOnly:text-[100px] mdOnly:leading-[75px] smOnly:text-[74px] smOnly:leading-[50px] xm:text-[64px] xm:leading-[45px];
  }
  .sub-heading {
    @apply text-[55px] leading-[55px] lgOnly:text-[52px] lgOnly:leading-[52px] mdOnly:text-[52px] mdOnly:leading-[52px] smOnly:text-[40px] smOnly:leading-[40px] xm:text-[31px] xm:leading-[31px];
  }
  .paragraph {
    @apply text-[18px] leading-[26px] lgOnly:text-[16px] lgOnly:leading-[24px] mdOnly:text-[16px] mdOnly:leading-[24px] smOnly:text-[16px] smOnly:leading-[24px] xm:text-[16px] xm:leading-[24px];
  }
  .sub-paragraph {
    @apply xlOnly:text-[21px] xlOnly:leading-[31px] text-[16px] leading-[24px];
  }
  .small-text {
    @apply xlOnly:text-[16px] xlOnly:leading-[24px] lgOnly:text-[16px] lgOnly:leading-[24px] text-[14px] leading-[22px];
  }
}

.hover {
  color: #18272f;
  position: relative;
  text-decoration: none;
}

.hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.hover:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.link-flash {
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

  position: relative;
}

.link-flash::before,
.link-flash::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -2px;
  display: block;
  width: 100%;
  height: 2px;
  background: #212121;
  transition: 1.1s var(--ease-out-expo);
}

.link-flash::before {
  transform: scaleX(0);
  transform-origin: left;
}

.link-flash::after {
  transform-origin: right;
  transition-delay: 0.25s;
}

.link-flash:hover::before {
  transform: scaleX(1);
  transition-delay: 0.25s;
}

.link-flash:hover::after {
  transform: scaleX(0);
  transition-delay: 0s;
}

.h {
  height: calc(100vh + 600px);
}
